<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="dist/.css" />

        <!--[if lt IE 9]>
            <script src="dist/es5-compat.js"></script>
            <script src="dist/es6-compat.js"></script>
        <![endif]-->
        <script type="text/javascript" src="dist/.js"></script>
        <script type="text/javascript" src="dist/.templates.js"></script>
    </head>
    <body>
    </body>
</html>
